# Bỏ qua các file JSON

json/Chitieu.json
json/menu.json
json/super_chi_tieu.json
json/chitieu/
json/theme_backup.json

# Bỏ qua thư mục chứa file bytecode Python
__pycache__/
*.pyc
*.pyo

# Bỏ qua file cấu hình IDE
*.idea/
*.vscode/

# Bỏ qua các file log
*.log
